<mat-toolbar class="mat-card-header">
  <img src="https://previews.dropbox.com/p/thumb/AArU82rdY9dhkFcKEHlb2Qkx3fMCvUAw8mvaK20i3xvGXAta76io2mBORVedW-0TMM_RJnO96409jsE19Eiv8FfIstDUgSI847YeGuGkbAjG64IdDGXvQgkYknKK-D_eu_sPG5V6DFAy9FssDbcU1OGGabjV4narDubQ1Bwk3jqw1lEZ3zWdMJlWnJzQQc-QJGOksOD_yZAyv_trp7j080F0IbvUydgSHy3yZXyT_qd4EAwj_FXRheNvjlVOObM1mePMNKHosZSIe9vXegq5asvN04LCHweiKIMsp7m3HZ89aprHT_Su0vmzsd_yEp3zgxyi0fOOEMHewaJTPhPekmPhi3KRhLgIebIkjzTWLbUrwg/p.jpeg?fv_content=true&size_mode=5"
       alt="logo" class="logo">
  <strong style="margin-left: 8px">Music Player</strong>
</mat-toolbar>
<div class="background" style="width: 100%; height: 100%;">
  <div class="center-screen">
    <h1 class="text-center text-white">Welcome to Music Player!</h1>
    <h5 class="text-center text-white">Discover new songs, creat your own playlists, discover other peoples playlists
      and
      share them with each other.</h5>
    <h6 class="text-center" style="color: aliceblue">You need to Sign In!</h6>
    <div class="text-center">
      <button mat-raised-button class="btn btn-success">Sign In</button>
    </div>
  </div>
</div>

