<div class="container">
  <div class="search-bar">
    <label>
      <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
    </label>
  </div>
  <div class="list-group">
    <div *ngFor="let user of this.users | nameFilter: {displayName: searchText}; let i=index;">
      <a class="list-group-item list-group-item-action listItem"
         *ngIf="user.uid !== this.currentUser.uid"
      >
        <img class="avatar" [src]="user.photoURL">
        <div class="list-content">
          <strong>ID: </strong><span>{{user.uid}}</span>
          <div>
        <span>
          <strong>Name: </strong>{{user.displayName}}
        </span>
            <span class="button-content">
          <button class="btn btn-danger" style="margin-right: 10px;"
                  *ngIf="user.role !== 'banned';else unBan" (click)="blockUser(user)">Block</button>
              <ng-template #unBan>
                <button class="btn btn-primary" style="margin-right: 10px;" (click)="unBlockUser(user)">Unblock</button>
              </ng-template>
          <button class="btn btn-success">View</button>
        </span>
          </div>
          <span><strong>Email: </strong> {{user.email}}</span>
        </div>
      </a>
    </div>
  </div>
  <hr style="background-color: aliceblue">
  <div class="border border-dark">
    <form [formGroup]="addSongForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Title: <input type="text" class="form-control" formControlName="titleSong"></label>
      </div>
      <div class="form-group">
        <label>Artist: <input type="text" class="form-control" formControlName="artistSong"> </label>
      </div>
      <div class="custom-file">
        <ng-template #nullInput>File name</ng-template>
        <label class="custom-file-label" for="customFile">
          <span *ngIf="!!songInput; else nullInput">{{this.songInput[0].name}} </span>
        </label>
        <input type="file" class="custom-file-input" id="customFile" formControlName="dataSong"
               (change)="onFileChange($event)">
      </div>
      <button type="submit" class="btn btn-primary" style="margin-top: 10px" [disabled]="!this.addSongForm.valid">
        Submit
      </button>
    </form>
  </div>
</div>
